[Global]
Name = raye.mistivia.com
Info = IRC Server
Listen = 0.0.0.0, ::
Ports = 6667
ServerUID = 100
ServerGID = 100

[Limits]
MaxNickLength = 20
MaxConnectionsIP = 99999

[Operator]
Name = xxx
Password = xxxxxx

[Options]
OperCanUseMode = yes
