{
    "server": "raye.mistivia.com",
    "port": 6667,
    "nickname": "android",
    "realname": "bot",
    "channels": [
        "#main",
    ],
    "greetings": [
        "#main"
    ],
    "no_greeting_nicks": [
        "TelegramBridge"
    ],
    "logpath": "/var/log/irclog",
    "relaybot": "TeleIRC"
}